[Desktop Entry]
Name=Feishin
GenericName=Music Player
Comment=A player for your self-hosted music server (Navidrome, Jellyfin, Subsonic)
Exec=feishin
Icon=feishin
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Music;
StartupWMClass=feishin
Keywords=Navidrome;Jellyfin;Subsonic;OpenSubsonic;
